{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Marine Input
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="rankSelector">Rank</label>
                        <select class="form-select" id="rankSelector">
                            <option>PVT</option>
                            <option>PFC</option>
                            <option selected>LCpl</option>
                            <option>Cpl</option>
                        </select>
                    </div>
                    <form class="was-validated" action="/submit" method="POST">
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <i class="fas fa-swords"></i>
                            <div>Warfighting - 25%</div>
                        </div>
                        <div class="math input-group mb-3">
                            <input class="form-control" type="text" value="( a + b ) x 1.25" disabled>
                            <button type="button" class="btn btn-secondary btn-sm" disabled>Max 250</button>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">a. Range Score</span>
                            <input min="0" max="50" type="number" class="form-control" placeholder="Destroys"
                                id="rangeDestroys" required>
                            <input min="1" max="3" type="number" class="form-control" placeholder="Drills"
                                id="rangeDrills" required>
                            <button id="rangeScore" type="button" class="btn btn-outline-success btn-sm"
                                disabled>0</button>
                            <button type="button" class="btn btn-outline-dark btn-sm" disabled>100</button>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="mcmapBelt">b. MCMAP Belt</label>
                            <select class="form-select" id="mcmapBelt">
                                <option value="MMA" selected>MMA - UNQUAL</option>
                                <option value="MMB">MMB - TAN</option>
                                <option value="MMC">MMC - GREY</option>
                                <option value="MMD">MMD - GREEN</option>
                            </select>
                            <button id="mcmapBeltValue" type="button" class="btn btn-outline-success btn-sm"
                                disabled>0</button>
                            <button type="button" class="btn btn-outline-dark btn-sm" disabled>100</button>
                        </div>
                        <div class="math input-group mb-3">
                            <button type="button" class="btn btn-secondary" disabled>Total</button>
                            <input id="warCalculation" class="form-control" type="text" value="( a + b ) x 1.25"
                                disabled>
                            <button id="warTotal" type="button" class="btn btn-secondary btn-sm" disabled>0</button>
                        </div>
                        <div class="alert alert-primary d-flex align-items-center" role="alert">
                            <i class="fas fa-running"></i>
                            <div>Physical Toughness - 25%</div>
                        </div>
                        <div class="math input-group mb-3">
                            <input class="form-control" type="text" value="( a + b ) x 1.25" disabled>
                            <button type="button" class="btn btn-secondary btn-sm" disabled>Max 250</button>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">a. PFT</span>
                            <input type="number" id="pftScore" class="form-control" placeholder="Score" min="0"
                                max="300" required>
                            <button type="button" class="btn btn-outline-success btn-sm" id="J_pftScore"
                                disabled>0</button>
                            <button type="button" class="btn btn-outline-dark btn-sm" disabled>100</button>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                b. CFT
                            </span>
                            <input type="number" id="cftScore" class="form-control" placeholder="Score" min="0"
                                max="300" required>
                            <button type="button" class="btn btn-outline-success btn-sm" id="J_cftScore"
                                disabled>0</button>
                            <button type="button" class="btn btn-outline-dark btn-sm" disabled>100</button>
                        </div>
                        <div class="math input-group mb-3">
                            <button type="button" class="btn btn-secondary" disabled>Total</button>
                            <input id="physicalCalculation" class="form-control" type="text" value="( a + b ) x 1.25"
                                disabled>
                            <button id="physicalTotal" type="button" class="btn btn-secondary btn-sm"
                                disabled>0</button>
                        </div>
                        <div class="alert alert-success d-flex align-items-center" role="alert">
                            <i class="fas fa-university"></i>
                            <div>Mental Agility - 25%</div>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Marine Net Courses</span>
                            <input type="text" id="marineNetCEUs" class="form-control" placeholder="Total CEUs">
                            <button type="button" class="btn btn-outline-success btn-sm" disabled>0</button>
                            <button type="button" class="btn btn-outline-dark btn-sm" disabled>40</button>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="degreeSelector">Degree</label>
                            <select class="form-select" id="degreeSelector">
                                <option value="0" selected>None</option>
                                <option value="10">Associates</option>
                                <option value="20">Bachelors</option>
                            </select>
                            <button id="degreeValue" type="button" class="btn btn-outline-success btn-sm"
                                disabled>0</button>
                            <button type="button" class="btn btn-outline-dark btn-sm" disabled>20</button>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">CRS-SVS</span>
                            <input type="text" id="CRSSVSScore" class="form-control" placeholder="Value">
                            <button type="button" class="btn btn-outline-success btn-sm" disabled>0</button>
                            <button type="button" class="btn btn-outline-dark btn-sm" disabled>20</button>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">CRS-GRD</span>
                            <input type="text" id="CRSGRDScore" class="form-control" placeholder="Value">
                            <button type="button" class="btn btn-outline-success btn-sm" disabled>0</button>
                            <button type="button" class="btn btn-outline-dark btn-sm" disabled>20</button>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="MOSandQualsSelector">MOS CQs</label>
                            <select class="form-select" id="MOSandQualsSelector">
                                <option value="0" selected>None</option>
                                <option value="30">CDI</option>
                                <option value="40">CDQAR</option>
                                <option value="40">QASO</option>
                                <option value="70">CDI and QASO</option>
                                <option value="80">CDQAR and QASO</option>
                            </select>
                            <button id="MOSandQualsValue" type="button" class="btn btn-outline-success btn-sm"
                                disabled>0</button>
                            <button type="button" class="btn btn-outline-dark btn-sm" disabled>100</button>
                        </div>
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <i class="fas fa-users"></i>
                            <div>Command Input - 25%</div>
                        </div>
                        <div class="math input-group mb-3">
                            <input class="form-control" type="text" value="(50a + 50b + 50c) / 3" disabled>
                            <button type="button" class="btn btn-secondary btn-sm" disabled>Max 250</button>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">a. MOS / Mission</span>
                            <input type="number" min="0" max="5" step="0.1" id="MOSMSNScore" class="form-control"
                                placeholder="Score" required>
                            <button type="button" id="MOSMSNScoreValue" class="btn btn-outline-success btn-sm"
                                disabled>0</button>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">b. Leadership</span>
                            <input type="number" min="0" max="5" step="0.1" id="LeadershipScore" class="form-control"
                                placeholder="Score" required>
                            <button type="button" id="LeadershipScoreValue" class="btn btn-outline-success btn-sm"
                                disabled>0</button>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">c. Character</span>
                            <input type="number" min="0" max="5" step="0.1" id="CharacterScore" class="form-control"
                                placeholder="Score" required>
                            <button type="button" id="CharacterScoreValue" class="btn btn-outline-success btn-sm"
                                disabled>0</button>
                        </div>
                        <div class="math input-group mb-3">
                            <button type="button" class="btn btn-secondary" disabled>Total</button>
                            <input id="commandCalculation" class="form-control" type="text" value="( a + b + c ) / 3"
                                disabled>
                            <button id="commandCalculationTotal" type="button" class="btn btn-secondary btn-sm"
                                disabled>0</button>
                        </div>
                        <div class="alert alert-info d-flex align-items-center" role="alert">
                            <i class="fas fa-stars"></i>
                            <div>Bonus - Max 100 pts</div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <input id="bonus_DICheck" class="form-check-input mt-0" type="checkbox" value="">
                            </div>
                            <input class="form-control" type="text" value="a. Drill Instructor School" readonly>
                            <button id="bonus_DICheckValue" type="button" class="btn btn-outline-success btn-sm"
                                disabled>0</button>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <input id="bonus_RecruiterCheck" class="form-check-input mt-0" type="checkbox" value="">
                            </div>
                            <input class="form-control" type="text" value="b. Recruiter School" readonly>
                            <button id="bonus_RecruiterCheckValue" type="button" class="btn btn-outline-success btn-sm"
                                disabled>0</button>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <input id="bonus_SecurityGuardCheck" class="form-check-input mt-0" type="checkbox"
                                    value="">
                            </div>
                            <input class="form-control" type="text" value="c. Marine Security Guard School" readonly>
                            <button id="bonus_SecurityGuardCheckValue" type="button"
                                class="btn btn-outline-success btn-sm" disabled>0</button>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <input id="bonus_CombatInstructorCheck" class="form-check-input mt-0" type="checkbox"
                                    value="">
                            </div>
                            <input class="form-control" type="text" value="d. Combat Instructor" readonly>
                            <button id="bonus_CombatInstructorCheckValue" type="button"
                                class="btn btn-outline-success btn-sm" disabled>0</button>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <input id="bonus_MCSFCheck" class="form-check-input mt-0" type="checkbox" value="">
                            </div>
                            <input class="form-control" type="text" value="e. Marine Corps Security Forces" readonly>
                            <button id="bonus_MCSFCheckValue" type="button" class="btn btn-outline-success btn-sm"
                                disabled>0</button>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">f. Command Rec. Bonus</span>
                            <input type="number" id="bonus_command" min="0" max="5" class="form-control" placeholder="Score" defaultValue="0">
                            <button id="bonus_commandValue" type="button" class="btn btn-outline-success btn-sm"
                                disabled>0</button>
                            <button type="button" class="btn btn-outline-dark btn-sm" disabled>100</button>
                        </div>
                        <div class="math input-group mb-3">
                            <button type="button" class="btn btn-secondary" disabled>Total</button>
                            <input id="bonusCalculation" class="form-control" type="text" value="( a + b + c + d + e + f ) < 100"
                                disabled>
                            <button id="bonusCalculationTotal" type="button" class="btn btn-secondary btn-sm"
                                disabled>0</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Calculated
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="text-danger input-group-text"><i style="height: 16px; width: 16px;" class="fas fa-swords"></i></span>
                        <button type="button" id="warTotalBoard" class="btn btn-danger" disabled>0</button>
                        <input class="form-control" type="text" value="Warfighting" aria-label="Warfighting" disabled readonly>
                        <button type="button" id="warPercBoard" class="btn btn-outline-success" disabled>0%</button>
                    </div>
                    <div class="input-group mb-3">
                        <span class="text-primary input-group-text"><i style="height: 16px; width: 16px;"  class="fas fa-running"></i></span>
                        <button type="button" id="physicalTotalBoard" class="btn btn-primary" disabled>0</button>
                        <input class="form-control" type="text" value="Physical Toughness" aria-label="Physical Toughness" disabled readonly>
                        <button type="button" id="physicalPercBoard" class="btn btn-outline-success" disabled>0%</button>
                    </div>
                    <div class="input-group mb-3">
                        <span class="text-success input-group-text"><i style="height: 16px; width: 16px;"  class="fas fa-university"></i></span>
                        <button type="button" class="btn btn-success" disabled>0</button>
                        <input class="form-control" type="text" value="Mental Agility" aria-label="Mental Agility" disabled readonly>
                        <button type="button" class="btn btn-outline-success" disabled>0%</button>
                    </div>
                    <div class="input-group mb-3">
                        <span class="text-warning input-group-text"><i style="height: 16px; width: 16px;"  class="fas fa-users"></i></span>
                        <button type="button" id="commandTotalBoard" class="btn btn-warning" disabled>0</button>
                        <input class="form-control" type="text" value="Command Input" aria-label="Command Input" disabled readonly>
                        <button type="button" id="commandPercBoard" class="btn btn-outline-success" disabled>0%</button>
                    </div>
                    <div class="input-group mb-3">
                        <span class="text-info input-group-text"><i style="height: 16px; width: 16px;"  class="fas fa-stars"></i></span>
                        <button type="button" id="bonusTotalBoard" class="btn btn-info" disabled>0</button>
                        <input class="form-control" type="text" value="Bonus" aria-label="Bonus" disabled readonly>
                        <button type="button" id="bonusPercBoard" class="btn btn-outline-success" disabled>0%</button>
                    </div>
                    <hr/>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i style="height: 16px; width: 16px;"  class="fas fa-award"></i></span>
                        <button type="button" id="jepesTotalBoard" class="btn btn-dark" disabled>0</button>
                        <input class="form-control" type="text" value="JEPES Score" aria-label="JEPES Score" disabled readonly>
                        <button type="button" id="jepesPercBoard" class="btn btn-outline-success" disabled>0%</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='obsuficated.js') }}"></script>
{% endblock %}
<!--https://www.marines.mil/News/Publications/MCPEL/Electronic-Library-Display/Article/2431802/mco-16161/-->