<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-4 fs-4">
                <a href="https://github.com/marinecoders" class="link-secondary text-decoration-none">
                    <i class="fab fa-github"></i>
                    GITHUB
                </a>
                <a href="https://www.linkedin.com/company/marine-coders/" class="link-secondary text-decoration-none">
                    <i class="fab fa-linkedin"></i>
                    LINKEDIN
                </a>
            </div>
        </div>
        <div class="row">
            <span class="text-muted">©2021 Marine Coders. Powered by Marines and Coffee</span>
            <span class="text-muted">Code and Design by Cpl William Crum</span>
        </div>
    </div>
</footer>