.alert {
    padding: 0.5em;
    font-weight: bold;
}
.alert i {
    margin-right: 5px;
}
.math {
    font-family: serif;
}

.math input {
    padding: 5px 5px 5px 5px;
}

.text-command {
    color: #9D4EDD;
}

.alert-command {
    color: #551B88;
    background-color: #E2CCF5;
    border-color: #E2CCF5;
}

.btn-command {
    color: white;
    background-color: #9D4EDD;
    border-color: #9D4EDD;
}

.text-bonus {
    color: #ffd700;
}

.alert-bonus {
    color: #9e7409;
    background-color: #fafad2;
    border-color: #ffd700;

}

.btn-bonus {
    color: black;
    background-color: #fafad2;
    border-color: #ffd700;
}

@media only screen and (max-width: 960px) {
    .row {
        display: block;
        flex-direction: row-reverse;
    }
    .row > * {
        width: 100%;
    }
}